@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;1,300&display=swap");
html, body {
  overflow-x: hidden;
  margin: 0;
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
}

section.landing-page-section {
  padding: 3rem 0;
}

.bg-medium {
  background-color: #f3f4f6;
}

.button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 1rem;
  padding: .7rem 1.5rem;
  border-radius: 3rem;
  color: white;
}

.button-accent {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to bottom right, #31d35c, #2bb7da);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

nav.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.main-nav .hamburger-wrapper {
  display: none;
}

nav.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

nav.main-nav ul li {
  list-style-type: none;
  padding: 1.5rem 0;
  margin: 0 1rem;
  position: relative;
}

nav.main-nav ul li:hover::after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 4px;
  background-color: #31d35c;
  bottom: 0;
  left: 0;
}

nav.main-nav ul li a {
  text-decoration: none;
  color: #9698a6;
}

.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.banner .banner-info-container {
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner .banner-info-container .banner-subtitle {
  color: #9698a6;
  margin-bottom: 1.5rem;
}

.banner .upper-img {
  position: absolute;
  top: -62px;
  right: -133px;
}

.banner .image-wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50%;
  height: 700px;
}

.banner .image-wrapper .bg1-container {
  overflow: hidden;
  height: 100%;
}

.banner .image-wrapper .bg1-container .bg1 {
  position: absolute;
  top: -170px;
  right: -360px;
  height: 950px;
}

.banner-info {
  position: absolute;
  width: 100%;
  height: 100%;
}

.feature {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.feature .icon-circle {
  width: 80px;
  height: 80px;
}

.feature .icon-circle img {
  width: 100%;
  height: 100%;
}

.feature__title {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: black;
}

.feature__description {
  font-size: .8rem;
  color: #9698a6;
}

.latest-article {
  background-color: white;
  border-radius: .5rem;
  overflow: hidden;
}

.latest-article-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

.latest-article .image-wrapper {
  height: 200px;
}

.latest-article .image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.latest-article__content {
  padding: 1rem;
}

.latest-article .baner__author {
  display: block;
  margin: 0 0 1rem;
  font-size: .8rem;
  color: #9698a6;
}

.latest-article .banner__title {
  font-size: 1rem;
  margin: 0;
}

.latest-article__subtitle {
  display: block;
  font-size: .8rem;
  color: #9698a6;
  margin-top: 1rem;
}

.section-title {
  font-size: 1.5rem;
}

.section-subtitle {
  display: block;
  color: #9698a6;
  margin-bottom: 3rem;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 375px) {
  nav.main-nav .brand-logo img {
    height: 16px;
  }
  nav.main-nav ul {
    position: absolute;
    display: none;
  }
  nav.main-nav .invite {
    display: none;
  }
  nav.main-nav .hamburger-wrapper {
    display: block;
  }
  .container {
    padding: 1rem;
  }
  .latest-article-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section-title {
    text-align: center;
  }
  .feature {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feature__description {
    text-align: center;
  }
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .banner-info {
    position: static;
    margin-top: 3rem;
  }
  .banner-info-container {
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
  }
  .banner .container {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    text-align: center;
  }
  .banner .image-wrapper {
    height: auto;
  }
  .banner .image-wrapper .bg1-container {
    height: 340px;
    overflow: hidden;
  }
  .banner .image-wrapper .bg1-container img {
    top: 56px !important;
    height: 584px !important;
    -webkit-transform: translate(-107px, -251px);
            transform: translate(-107px, -251px);
  }
  .banner .image-wrapper .upper-img {
    right: .5rem;
    top: -66px;
    width: calc(100vw - 1rem);
  }
}
/*# sourceMappingURL=styles.css.map */