// Primary
$dark-blue: hsl(233, 26%, 24%)
$lime-green: hsl(136, 65%, 51%)
$bright-cyan: hsl(192, 70%, 51%)
$gradient-btn: linear-gradient(to bottom right, $lime-green, $bright-cyan)
// Neutral

$grayish-blue: hsl(233, 8%, 62%)
$light-grayish-blue: hsl(220, 16%, 96%)
$very-light-gray: hsl(0, 0%, 98%)
$white: hsl(0, 0%, 100%)

$font-size: 18px
$font-family: 'Public Sans', sans-serif

$mobile: 375px
$desktop: 1440px

// button
.btn-request 
    margin: auto
    .btn-success
        color: $white
        font-size: $font-size
        width: 180px
        height: 50px
        background-image: $gradient-btn
        border-radius: 2rem
        border: none
// card icon

    
          